/**----------------CONTAINERS------------**/

.profile-container,
.bio-container,
.projects-container,
.footer-contact-container {
    @include transition(all .35s ease-in-out);
    //margin: 0 11px;
    //margin: 0 1.1rem;
    @media (min-width: $screen-lg) {
        //margin: 0 22px;
        //margin: 0 2.2rem;
    }
}
/**-----------------SELECTORS--------------**/

.fa-chevron-down {
    position: absolute;
    top: 11px;
    right: 42.36px;
    padding: 3px;
    font-size: 22px;
    font-size: 2.2rem;
    border: 1px solid darken($lt-grey, 10%);
    @include border-radius(3px);
    @media (min-width: $screen-xs) {
        top: 42px;
          right: 67%;
    }
    @media (min-width: $screen-sm) {
        font-size: 35px;
        font-size: 3.5rem;
        top: 45px;
          right: 575px;
    }
    @media (min-width: $screen-md) {
         right: 709px;
    }
    @media (min-width: $screen-lg) {
         right: 960px;
    }
    @media (min-width: $screen-xl) {
         right: 1279px;
    }
}

/**-----------------LISTS---------------------**/

.bio-contact-list-items,
.footer-contact-list-items {
    position: relative;
    font-size: 2.2rem;
    float: left;
    padding-right: 22px;
}
/**----------------UTILITIES -----------------**/

.spinner-container {
    position: absolute;
    top: 0;
    left: 0;
}