/**----------------CONTAINERS---------------------**/

.header-container {
    margin-bottom: 0px;
}

.profile-container {
    @include clearfix;
    .profile-figure {
        float: left;
        margin-right: 11px;
    }
    .profile-content-container {
        h2 {
            line-height: 1.1;
            font-size: 35.6px;
            font-size: 3.56rem;
            color: $md-blue;
            @media (min-width: $screen-sm) {
                font-size: 42.36px;
                font-size: 4.236rem;
            }
        }
        p {
            font-size: 16.18px;
            font-size: 1.618rem;
            @media (min-width: $screen-sm) {
                font-size: 18px;
                font-size: 1.8rem;
            }
        }
    } //profile-content-container
} //profile-container
.bio-contact-container {
    @media (min-width: $screen-xs) {
        position: absolute;
        top: 11px;
        left: 75%;
    }
}//bio-contact-container

.bio-content-container {
    a {
        text-decoration: none;
        &:hover>.fa-chevron-down, &:focus>.fa-chevron-down {
            border: 1px solid darken($lt-grey, 20%);
            @include transition(all $animationLength ease-in-out);
        }
    }
    h3 {
        font-weight: normal;
        font-size: 16.18px;
        font-size: 1.618rem;
    }
    .bio-content {
        max-height: 0; //height does not work for css transitions
        overflow: hidden;
        opacity: 0;
        margin-top: 10px;
        margin-top:1rem;
        @include transition(all $animationLength ease-in-out);
        h3 {
            font-weight: normal;
            font-size: 22px;
            font-size: 2.2rem;
            color: $md-green;
        }
        p {
            color: $dk-grey;
        }
    } //bio-content
    .bio-content-active {
        max-height: 200px;
        opacity: 1;
    } //bio-content-active
} //bio-content-container

.body-container{
    
}//body container

/**--------------MASONRY--------------**/

.projects-gutter {
    width: gutter();
}

.projects-column {
    width: span(1);
}

//need to set a height for each screen size
.projects-item {
    width: span(12);
    height: 350px;
    margin-top: gutter();
    
    cursor: pointer;
}

.projects-item-xs { //300x300 max
    @media (min-width: $screen-xs) {
        width: span(4);
        height:300px;
    }
    @media (min-width: $screen-sm) {
        width: span(3);
        height:300px;
    }
    @media (min-width: $screen-md) {
        width: span(4);
        height:300px;
    }
    @media (min-width: $screen-md) {
        width: span(3);
        height:300px;
    }
}

.projects-item-sm { //300x440 max
    @media (min-width: $screen-xs) {
        width: span(4);
        height:400px;
    }
    @media (min-width: $screen-sm) {
        width: span(3);
        height:400px;
    }
    @media (min-width: $screen-md) {
        width: span(4);
        height:400px;
    }
    @media (min-width: $screen-lg) {
        width: span(3);
        height:400px;
    }
}

.projects-item-md { //500x460 max
    @media (min-width: $screen-xs) {
        width: span(8);
        height:400px;
    }
    @media (min-width: $screen-sm) {
        width: span(7);
        height:400px
    }
    @media (min-width: $screen-md) {
        width: span(5);
        height:480px
    }
}

.projects-item-lg { //765x300
    @media (min-width: $screen-xs) {
        width: span(8);
        height:300px;
    }
    @media (min-width: $screen-sm) {
        width: span(7);
        height:300px;
    }
    @media (min-width: $screen-md) {
        width: span(6);
       height:300px;
    }
    @media (min-width: $screen-lg) {
        width: span(5);
        height:300px;
    }
}

.footer-contact-container
{
    text-align: center;
    ul{
        display: inline-block;
    }
}

/**---------------ANIMATION----------------------**/

figure.projects-figure {
	background: $lt-blue;
    overflow: hidden;
}

figure.projects-figure img {
	max-width: none;
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	-webkit-transition: opacity $animationLength, -webkit-transform $animationLength;
	transition: opacity $animationLength, transform $animationLength;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
    @include transform(translate3d(-10px,0,0));
    @include transition-duration($animationLength);
    @include transition-property(opacity);
    @include backface-visibility(false);
}

figure.projects-figure:hover img {
	opacity: 0.6;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.projects-figure figcaption {
	text-align: left;
    position: absolute;
      bottom: 0;
      left: 0;
    margin: 0 12px;
}

figure.projects-figure h2 {
	position: relative;
	overflow: hidden;
    padding:3px 0;
	padding: 0.3em 0;
    line-height:.8;
    opacity: .7;
     @include transition-duration($animationLength);
    @include transition-property(color, opacity);
     color:$lt-grey;
}

figure.projects-figure h2::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: $lt-grey;
	content: '';
	-webkit-transition: -webkit-transform $animationLength;
	transition: transform $animationLength;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

figure.projects-figure:hover h2 {
	color:$dk-grey;
    opacity:1;
}
figure.projects-figure:hover h2::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.projects-figure p {
    padding:4px 0;
	padding: .4em 0;
    margin:0;
	opacity: 0;
    color:$lt-grey;
	-webkit-transition: opacity $animationLength, -webkit-transform $animationLength;
	transition: opacity $animationLength, transform $animationLength;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

figure.projects-figure:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.projects-figure a {
	opacity: 0;
	display:none;
    margin-left:-9999px;
}