/**----------------CONTAINERS---------------------**/

.header-container {
    margin-bottom: 0px;
}

.profile-container {
    @include clearfix;
    .profile-figure {
        float: left;
        margin-right: 11px;
        margin-left: 12px;
        @media (min-width: $screen-xs) {
            margin-left: 0;
        }
    }
    .profile-content-container {
        h2 {
            line-height: 1.1;
            font-size: 35.6px;
            font-size: 3.56rem;
            color: $md-blue;
            @media (min-width: $screen-sm) {
                font-size: 42.36px;
                font-size: 4.236rem;
            }
        }
        p {
            font-size: 16.18px;
            font-size: 1.618rem;
            @media (min-width: $screen-sm) {
                font-size: 20px;
                font-size: 2rem;
            }
        }
    } //profile-content-container
} //profile-container
.bio-contact-container {
    @media (min-width: $screen-xs) {
        position: absolute;
        top: 11px;
        left: 75%;
    }
} //bio-contact-container
.bio-content-container {
    a {
        text-decoration: none;
        &:hover>.fa-chevron-down, &:focus>.fa-chevron-down {
            border: 1px solid darken($lt-grey, 20%);
            @include transition(all $animationLength ease-in-out);
        }
    }
    .bio-content {
        max-height: 0; //height does not work for css transitions
        overflow: hidden;
        opacity: 0;
        margin-top: 10px;
        margin-top: 1rem;
        @include transition(all $animationLength ease-in-out);
        .bio-desc-content {
            margin: 12px 12px 24px 12px;
            @media (min-width: $screen-xs) {
                margin: 0 0 24px 0;
            }
            h3 {
                font-family: 'Gochi Hand', serif;
                font-weight: normal;
                color: $md-green;
            }
            p {
                color: $dk-grey;
                font-size: 16px;
                font-size: 1.618rem;
            }
        } //desc content
    } //bio-content
    .bio-content-active {
        max-height: 1000px;
        opacity: 1;
    } //bio-content-active
} //bio-content-container
.bio-carousel-container {
    margin-bottom: 12px;
    .bio-carousel-content {
        margin-bottom: 12px;
        figcaption {
            position: absolute;
            bottom: 0;
            width: 768px;
            @include background(rgba(212, 212, 212, .9));
            @media (min-width: 1250px) { //this just looks right
                position: absolute;
                bottom: 0px;
                left: 770px;
                width: inherit;
                max-width: 340px;
                padding: 12px;
            }
            h3,
            p {
                padding-left: 12px;
            }
            h3 {
                padding-top: 3px;
                color: $dk-green;
                font-size: 20px;
                font-size: 2rem;
            }
            p {
                font-size: 16px;
                font-size: 1.6rem;
                color: $black;
            }
            a {
                text-decoration: underline;
            }
        }
    } //bio-carousel-content
} //bio-carousel-container

//body container
/**--------------GRID--------------**/

//need to set a height for each screen size
.projects-item {
    margin-top: gutter();
    cursor: pointer;
}

.projects-item-xs {
    //300x300 max
    @media (min-width: $screen-xs) {
        @include span(3);
    }
}

.projects-item-sm {
    //300x440 max
    @media (min-width: $screen-xs) {
         @include  span(4);
    }
}

.projects-item-md {
    //500x460 max
    @media (min-width: $screen-xs) {
         @include span(5);
    }
}

.projects-item-lg {
    //765x300
    @media (min-width: $screen-xs) {
         @include span(6);
    }
}

.footer-contact-container {
    text-align: center;
    ul {
        display: inline-block;
    }
}
/**---------------ANIMATION----------------------**/

figure.projects-figure {
    background: $dk-green;
    overflow: hidden;
}

figure.projects-figure img {
    max-width: none;
    width: -webkit-calc(100% + 20px);
    width: calc(100% + 20px);
    @include transform(translate3d(-10px, 0, 0));
    @include transition-duration($animationLength);
    @include transition-property(all);
    @include backface-visibility(false);
}

figure.projects-figure:hover img {
    opacity: 0.3;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.projects-figure figcaption {
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 12px;
}

figure.projects-figure h2 {
    font-family: 'Raleway', sans-serif;
    position: relative;
    overflow: hidden;
    padding: 3px 0;
    padding: 0.3em 0;
    line-height: .8;
    opacity: .7;
    @include transform(translate3d(0, 22px, 0));
    @include transition-duration($animationLength);
    @include transition-property(all);
    color: $black;
}

figure.projects-figure h2::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: $lt-grey;
    content: '';
    @include transform(translate3d(-100%, 0, 0));
    @include transition-duration($animationLength);
    @include transition-property(all);
}

figure.projects-figure:hover h2 {
    color: $md-grey;
    opacity: 1;
    @include transform(translate3d(0, 0, 0));
}

figure.projects-figure:hover h2::after {
    @include transform(translate3d(0, 0, 0));
}

figure.projects-figure p {
    padding: 4px 0;
    padding: .4em 0;
    margin: 0;
    opacity: 0;
    color: $lt-grey;
    @include transform(translate3d(100%, 0, 0));
    @include transition-duration($animationLength);
    @include transition-property(all);
}

figure.projects-figure:hover p {
    opacity: 1;
    @include transform(translate3d(0, 0, 0));
}

figure.projects-figure a {
    opacity: 0;
    display: none;
    margin-left: -9999px;
}